USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 5/7/2024 4:25:21 PM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CT_PHIEU_MUON]    Script Date: 5/7/2024 4:25:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEU_MUON](
	[idSach] [int] NOT NULL,
	[idPhieuMuon] [int] NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_CTPM] PRIMARY KEY CLUSTERED 
(
	[idSach] ASC,
	[idPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEU_TRA]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEU_TRA](
	[idSach] [int] NOT NULL,
	[idPhieuTra] [int] NOT NULL,
	[soLuong] [int] NULL,
	[trangThaiSach] [tinyint] NULL,
 CONSTRAINT [PK_CTPT] PRIMARY KEY CLUSTERED 
(
	[idSach] ASC,
	[idPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_SACH_TG]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SACH_TG](
	[idTacGia] [int] NOT NULL,
	[idSach] [int] NOT NULL,
 CONSTRAINT [PK_CT_S_TG] PRIMARY KEY CLUSTERED 
(
	[idTacGia] ASC,
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[id] [int] NOT NULL,
	[tenKho] [nvarchar](100) NULL,
	[viTri] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SACH]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SACH](
	[id] [int] NOT NULL,
	[tenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DOC]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DOC](
	[id] [int] NOT NULL,
	[sdt] [nvarchar](15) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](100) NULL,
	[hoTen] [nvarchar](100) NULL,
	[cmnd] [nvarchar](20) NULL,
	[hanSuDung] [date] NULL,
	[soLuongMuonChoPhep] [tinyint] NULL,
	[trangThaiViPham] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[id] [int] NOT NULL,
	[ten] [nvarchar](100) NULL,
	[diaChi] [nvarchar](100) NULL,
	[sdt] [char](15) NULL,
	[email] [varchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[id] [int] NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[ngaySinh] [nvarchar](100) NULL,
	[diaChi] [nvarchar](100) NULL,
	[cmnd] [nvarchar](20) NULL,
	[vaiTro] [tinyint] NULL,
	[matKhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_MUON]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON](
	[id] [int] NOT NULL,
	[idNhanVien] [int] NULL,
	[idNguoiDoc] [int] NULL,
	[ngayMuon] [date] NULL,
	[ngayTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_TRA]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_TRA](
	[id] [int] NOT NULL,
	[idNguoiDoc] [int] NULL,
	[ngayTraThatSu] [date] NULL,
	[tienPhat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[id] [int] NOT NULL,
	[tenSach] [nvarchar](100) NULL,
	[giaSach] [money] NULL,
	[soLuong] [int] NULL,
	[trangThai] [tinyint] NULL,
	[idTacGia] [int] NULL,
	[idNhaXuatBan] [int] NULL,
	[idLoaiSach] [int] NULL,
	[idKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAC_GIA]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA](
	[id] [int] NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 5/7/2024 4:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[id] [int] NOT NULL,
	[matKhau] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_PHIEU_MUON]  WITH CHECK ADD FOREIGN KEY([idPhieuMuon])
REFERENCES [dbo].[PHIEU_MUON] ([id])
GO
ALTER TABLE [dbo].[CT_PHIEU_MUON]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[SACH] ([id])
GO
ALTER TABLE [dbo].[CT_PHIEU_TRA]  WITH CHECK ADD FOREIGN KEY([idPhieuTra])
REFERENCES [dbo].[PHIEU_TRA] ([id])
GO
ALTER TABLE [dbo].[CT_PHIEU_TRA]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[SACH] ([id])
GO
ALTER TABLE [dbo].[CT_SACH_TG]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[SACH] ([id])
GO
ALTER TABLE [dbo].[CT_SACH_TG]  WITH CHECK ADD FOREIGN KEY([idTacGia])
REFERENCES [dbo].[TAC_GIA] ([id])
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD FOREIGN KEY([idNguoiDoc])
REFERENCES [dbo].[NGUOI_DOC] ([id])
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NHAN_VIEN] ([id])
GO
ALTER TABLE [dbo].[PHIEU_TRA]  WITH CHECK ADD FOREIGN KEY([idNguoiDoc])
REFERENCES [dbo].[NGUOI_DOC] ([id])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([idKho])
REFERENCES [dbo].[KHO] ([id])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([idLoaiSach])
REFERENCES [dbo].[LOAI_SACH] ([id])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([idNhaXuatBan])
REFERENCES [dbo].[NHA_XUAT_BAN] ([id])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([idTacGia])
REFERENCES [dbo].[TAC_GIA] ([id])
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[NHAN_VIEN] ([id])
GO
USE [master]
GO
